[user]
	name = Samuel Padgett
	email = spadgett@redhat.com
	signingkey = 4D769795ADC1CAFC
[push]
	default = current
[core]
	excludesfile = ~/.gitignore
[alias]
	co = checkout
[commit]
	verbose = true
[pager]
	branch = false
