[user]
	name = Samuel Padgett
	email = spadgett@redhat.com
[push]
	default = current
[core]
	excludesfile = ~/.gitignore
[alias]
	hist = log --color --pretty=format:\"%C(yellow)%h%C(reset) %s%C(bold red)%d%C(reset) %C(green)%ad%C(reset) %C(blue)[%an]%C(reset)\" --relative-date --decorate
	co = checkout
[commit]
	verbose = true
[pager]
	branch = false
